<h2>Lista de Usuarios</h2>
<br />
<a class="button is-primary is-small" routerLink="../new-user">Nuevo usuario</a>
<br />
<br />
<div class="container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <td>#</td>
          <td>Nombre</td>
          <td>Correo</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let idx = index">
            <td>{{idx + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
                <a class="button is-primary is-small mr-1" [routerLink]="['../edit-user', user.id]">Editar</a>
                <button class="button is-danger is-small" (click)="handleDelete(user.id)">Eliminar</button>          
              </td>
        </tr>
    </tbody>
    </table>
</div>